body{
    background: url("https://picsum.photos/800/600") center/cover no-repeat;
    margin: 0;

}

nav{
    text-align: right;
    background-color: rgba(0,0,0, .7);
    padding: 15px 0;
    margin: 0;
}

ul{
    width: 400px;
    list-style: none;
    display: inline;
    text-align: right;
    
}

ul li{
    color: white;
    display: inline;
    text-align: right;
    padding-left: 20px;
    padding-right: 15px;

}